<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                {% for item in list_api %}
                <li class="nav-item"><a href="{% url 'table' item %}" class="nav-link">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </header>
    </div>
    <script src="/static/js/bootstrap.js"></script>
</body>

</html>